@charset "utf-8";

/* 공통 */
.inner{
  margin: 0 auto;
  max-width: 1620px;
  height: 100vh;
}


/* #main */
#main .inner{
  position: relative;
}
#main .title1{
  font-size: 10rem;
  text-shadow: -1px 0px white, 0px 1px white, 1px 0px white, 0px -1px white;
  color: black;
  position: absolute;
  top: 80px;
}
#main .title2{
  font-size: 10rem;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 80px;
}
#main .title3{
  font-size: 12rem;
  position: absolute;
  bottom: 75px;
  right: 0;
}

#main .main-txt{
  position: absolute;
  bottom: 100px;
}
#main .main-txt p:first-child{
  margin-bottom: 30px;
}