@charset "utf-8";

/* 공통 */
.inner{
  margin: 0 auto;
  max-width: 1620px;
  height: 100vh;
}


/* #main */
#main .inner{
  position: relative;
}
#main .title1{
  font-size: 10rem;
  text-shadow: -1px 0px white, 0px 1px white, 1px 0px white, 0px -1px white;
  color: black;
  position: absolute;
  top: 80px;
}
#main .title2{
  font-size: 10rem;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 80px;
}
#main .title3{
  font-size: 12rem;
  position: absolute;
  bottom: 75px;
  right: 0;
}

#main .main-txt{
  position: absolute;
  bottom: 100px;
}
#main .main-txt p:first-child{
  margin-bottom: 30px;
}


/* #about */
#about{
  height: 100vh;
  padding: 130px 0;
}
#about .inner{
  display: flex;
  justify-content: space-between;
}

#about .about-img{
  width: 375px;
  height: 480px;
  border-radius: 500px;
  box-shadow: 0 0 200px -5px rgba(255, 255, 255, 0.3);
  background: url(../img/about_img.png) no-repeat center / cover;
  margin-top: 100px;
}

#about .about-content{
  display: flex;
  gap: 60px;
  margin-bottom: 60px;
}
#about .about-content div{
  width: 540px;
}

#about h1{
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 10px;
}
#about ul{
  display: flex;
  gap: 25px;
}
#about ul li:first-child{
  font-weight: 300;
}
#about .about-me ul li:first-child{
  width: 57px;
}
#about .education ul li:first-child{
  width: 178px;
}
#about .license ul li:first-child{
  width: 81px;
}
#about .activity ul li:first-child{
  width: 178px;
}

#about .skill .skill-content{
  display: flex;
  gap: 25px;
}
#about .skill ul{
  gap: 15px;
  text-align: center;
  align-items: center;
}
#about .skill ul:not(:last-child){
  margin-bottom: 10px;
}

#about .skill ul li img{
  width: 40px;
  height: 40px;
}
#about .skill .line{
  width: 245px;
  height: 20px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.3);
}
#about .skill .line::before{
  content: "";
  display: flex;
  height: 20px;
  background: linear-gradient(90deg,rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 1) 100%);
  border-radius: 5px;
}

@keyframes line1{
  0%{
    width: 0;
  }
  100%{
    width: 220px;
  }
}
@keyframes line2{
  0%{
    width: 0;
  }
  100%{
    width: 232px;
  }
}
@keyframes line3{
  0%{
    width: 0;
  }
  100%{
    width: 245px;
  }
}
@keyframes line4{
  0%{
    width: 0;
  }
  100%{
    width: 196px;
  }
}
@keyframes line5{
  0%{
    width: 0;
  }
  100%{
    width: 172px;
  }
}
@keyframes line6{
  0%{
    width: 0;
  }
  100%{
    width: 160px;
  }
}

#about .skill .photoshop .line::before{
  width: 220px;
  animation: line1 2s alternate 1 ease;
}
#about .skill .illust .line::before{
  width: 232px;
  animation: line2 2s alternate 1 ease;
}
#about .skill .figma .line::before{
  width: 245px;
  animation: line3 2s alternate 1 ease;
}
#about .skill .html .line::before, #about .skill .css .line::before{
  width: 196px;
  animation: line4 2s alternate 1 ease;
}
#about .skill .rhino .line::before{
  width: 172px;
  animation: line5 2s alternate 1 ease;
}
#about .skill .keyshot .line::before{
  width: 160px;
  animation: line6 2s alternate 1 ease;
}